---
const {data} = Astro.props;
console.log(data)
---



<article>
    
    <div class="div_image">
        <img class="image" src={data.img} alt="Insekternes Blik">
    </div >
    <div class="text">
        <h2>{data.title}</h2>
        <p><strong>WHO</strong> {data.who}</p>
        <p><strong>WHERE:</strong> {data.where}</p>
        <a href="#">
            <img class="arrow" src="/ArrowNext.svg" alt="Knap til beskrivelse af værk">
    </a>
    </div>

</article>

<style>
article {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
article .div_image {
    grid-column: span 2;
}
article:nth-child(odd) .div_image{
    order: 10;
}
 h1, h2{
    color: #ffffff;
      font-family: Helvetica;
      font-weight: 400;
      text-transform: uppercase;
      
}

 h1{
    font-size: 30px;
    margin-left: 2rem;
      margin-top: 10rem;
      margin-bottom: 1rem;
      line-height: 1.25;
}

h2{
    font-size: 20px;
    margin-top: 3rem;
    text-decoration: underline;
    
}

 p{
    color: #ffffff;
    font-size: 16px;
    font-family: Helvetica;
      font-weight: 400;
      margin-left: 0;
}



/* Images */

  .image {

    object-fit: cover;
    width: 100%;
}

.arrow{
    width: 7%;
    
}

.text{
    margin-left: 2rem;
    order: 2;
}


@media screen and (min-width: 768px) {

    a h1{
    font-size: 50px;
}

 h2{
    font-size: 14px;
    margin-left: 0;
    margin-top: 13rem;
}
 

 

 .image {
    grid-column: span 2; 
    display: block;
}

 p{
    font-size: 25px;
}

}


</style>